.footer {
  background: rgb(40, 40, 40);
  height: 250px;
  margin-top: 50px;
  text-align: center;
}

.footer p {
  color: white;
  opacity: .8;
  margin-top: 20px;
}

.links {
  padding: 30px;
}

.links i {
  color: rgb(100, 100, 100);
  font-size: 40px;
  margin-top: 40px;
}

.links i:hover {
  color: rgb(255, 255, 255);
}

.footer .fas {
  color: #BF0F12;
}

.footer .fab {
  width: 1.25em;
}